{% extends "base.html" %} {% block content %}
<style>
  body {
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .container {
    margin-top: 50px;
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
  }
  .container form {
    width: 100%;
  }

  .container form input {
    width: 100%;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Bus Reservation</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Book Ticket</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a
            href="/login/"
            class="nav-link enabled"
            tabindex="-1"
            aria-disabled="true"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/register/"
            class="nav-link enabled"
            tabindex="-1"
            aria-disabled="true"
            >Sign Up</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            href="/logout/"
            class="nav-link enabled"
            tabindex="-1"
            aria-disabled="true"
            >Logout</a
          >
        </li>
        {% endif%}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <form method="post" action="{% url 'save_book' schedule.pk %}">
    {% csrf_token %} {{form}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock content %}
