{% extends "base.html" %} {% block content %}

<style>
  main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Bus Reservation</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Book Ticket</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a
            href="/login/"
            class="nav-link enabled"
            tabindex="-1"
            aria-disabled="true"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/register/"
            class="nav-link enabled"
            tabindex="-1"
            aria-disabled="true"
            >Sign Up</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a
            href="/logout/"
            class="nav-link enabled"
            tabindex="-1"
            aria-disabled="true"
            >Logout</a
          >
        </li>
        {% endif%}
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex flex-column w-100 justify-content-center align-items-center">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow">
      <div class="card-header">
        <h4 class="card-title"><b>Find Bus</b></h4>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <form id="login-user" method="POST">
            {% csrf_token %}
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="form-group mb-3">
                  <label for="date" class="control-label">Date</label>
                  <input
                    type="date"
                    class="form-control rounded-0"
                    min="{{ today }}"
                    autofocus
                    name="date"
                    id="date"
                    required="required"
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="depart" class="control-label">Depart</label>
                  <select
                    name="depart"
                    id="depart"
                    class="form-select select2 rounded-0"
                  >
                    <option selected></option>
                    {% comment %} {% for location in locations %}
                    <option value="{{ location.id }}">{{ location }}</option>
                    {% endfor %} {% endcomment %}
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="destination" class="control-label"
                    >Destination</label
                  >
                  <select
                    name="destination"
                    id="destination"
                    class="form-select select2 rounded-0"
                  >
                    <option selected></option>
                    {% comment %} {% for location in locations %}
                    <option value="{{ location.id }}">{{ location }}</option>
                    {% endfor %} {% endcomment %}
                  </select>
                </div>
                <div class="form-group mb-3">
                  <div
                    class="d-flex w-100 justify-content-between align-items-center"
                  >
                    <div class="col-md-4">
                      {% comment %}
                      <a href="{% url 'register-user' %}">Signup</a>
                      {% endcomment %}
                    </div>
                    <button class="btn btn-sm rounded-0 btn-primary">
                      Find Bus
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
